html {
    font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
}

#container {
    max-width: 500px;
    padding: 10px;
    margin: auto;
}

a {
    background: orangered;
    display: inline-block;
    padding: 3px 5px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background: orange;
}
